.elementor-1463 .elementor-element.elementor-element-29b4479 {
    padding: 120px 0px 120px 0px;
}

.elementor-1463 .elementor-element.elementor-element-e935e13 .elementor-tab-content {
    padding: 0px 0px 0px 0px;
}

.elementor-1463 .elementor-element.elementor-element-0186306 .elementor-tab-content {
    padding: 0px 0px 0px 0px;
}