.elementor-1513 .elementor-element.elementor-element-a975c96 {
    padding: 120px 0px 120px 0px;
}

.elementor-1513 .elementor-element.elementor-element-949263f>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1513 .elementor-element.elementor-element-5a7471d h2 {
    color: #;
}

.elementor-1513 .elementor-element.elementor-element-ccb13bd>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1513 .elementor-element.elementor-element-78b84c2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px;
}

.elementor-1513 .elementor-element.elementor-element-78b84c2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1513 .elementor-element.elementor-element-4480f90>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1513 .elementor-element.elementor-element-96fc95b>.elementor-element-populated {
    padding: 10px 10px 10px 60px;
}

.elementor-1513 .elementor-element.elementor-element-fb67aed h2 {
    color: #FFFFFF;
}

.elementor-1513 .elementor-element.elementor-element-4ddcdcf {
    margin-top: 80px;
    margin-bottom: 0px;
}

.elementor-1513 .elementor-element.elementor-element-0e3f62f {
    padding: 120px 0px 0px 0px;
}

.elementor-1513 .elementor-element.elementor-element-9c61b77 h2 {
    color: #;
}

.elementor-1513 .elementor-element.elementor-element-9d82e50 {
    padding: 0px 0px 120px 0px;
}

.elementor-1513 .elementor-element.elementor-element-62d1c11>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1513 .elementor-element.elementor-element-a1cc167 {
    padding: 0px 0px 0px 0px;
}

.elementor-1513 .elementor-element.elementor-element-484014f {
    padding: 120px 0px 120px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1513 .elementor-element.elementor-element-23c39ae {
        width: 100%;
    }
    .elementor-1513 .elementor-element.elementor-element-9e5c49c {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-edc93aa {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-cc329d9 {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-dc2f2e6 {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-632dbc8 {
        width: 100%;
    }
    .elementor-1513 .elementor-element.elementor-element-48fb776 {
        width: 100%;
    }
    .elementor-1513 .elementor-element.elementor-element-96fc95b {
        width: 100%;
    }
    .elementor-1513 .elementor-element.elementor-element-5da6655 {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-80b5a2a {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-f597219 {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-56b4298 {
        width: 50%;
    }
    .elementor-1513 .elementor-element.elementor-element-a012d45 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-1513 .elementor-element.elementor-element-96fc95b>.elementor-element-populated {
        padding: 50px 10px 10px 10px;
    }
    .elementor-1513 .elementor-element.elementor-element-f597219>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1513 .elementor-element.elementor-element-56b4298>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-1513 .elementor-element.elementor-element-80b5a2a>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}